
header {
  font-size: medium;
  position: sticky;
  display: flex;
  top:0px;
  justify-content: flex-end;
  align-items: center;
  min-height: 7vh;
  background: #a1753a;
  color: #fff;
  z-index: 9999;
}
.home {
  margin-right: auto;
  margin-left: 20px;
  font-size: medium;
}
a {
    color: #FFF;
    text-decoration: none;
  }
  a:hover {
     color: #e2b070;
     text-decoration: none;
     transition: 0.4s;
     animation: ease-in;
     z-index: 9999;
  }

  #links{
    display: inline;
    padding: 0px 20px;
  }
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }



  